/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: 'Lakes_neue';
    src: url(../fonts/tt_lakes_neue/TT\ Lakes\ Neue\ Trial\ Compressed\ Bold.ttf); 
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Prosto_sans';
    src: url(../fonts/tt_prosto_sans/TT\ Prosto\ Sans\ Trial\ Condensed\ Regular.otf);
    font-weight: normal;
    font-style: normal; 
  }
  
    @font-face {
      font-family: 'Avallon';
      src: url(../fonts/avallon/Avallon.ttf); 
      font-weight: normal;
      font-style: normal;
    } 
  
  /* Definição de variáveis de cor e fonte */
  :root {
  
    --cor0: #310352;
    --cor1: #8A2BE2; 
    --cor2: #FFFFFF;
    --cor3: #696969;
    --cor4: #E0E0E0;
    --cor5: #4b0082;
    --cor7: #9831b8;
  
    --fonte-padrao: 'Prosto_sans', sans-serif;
    --fonte-destaque: 'Avallon', serif;
    --fonte-cabeçalho: 'Lakes_neue'; 
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ RESET ESTILO ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  /*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Estilos básicos para o menu */
nav {	
    display: flex;
    padding: 0px;
    position: fixed;
    top: 0;
  }
  
  nav a {
  color: var(--cor2);
  text-decoration: none;
  font-family: var(--fonte-cabeçalho);
  font-size: 18px;
  letter-spacing: 2px;
  margin: 5px 90px 0px 90px;
  transition: all 0.3s ease; /* Transição para efeitos hover */
  }
  
  nav a:hover {
  color: var(--cor1);
  text-decoration: none;
  }
  
#home {
    justify-content: center; 
    align-items: center;
    margin-top: 0.2%;
  }
  
#home::after {
    content: '';
    display: block;
    width: 60%; 
    height: 0.3rem; /* Altura do risquinho */
    background-color: var(--cor7); /* Cor do risquinho */
    margin-top: 1%;
    margin-left: auto; 
    margin-right: auto;
    transition: 2s;
  }
  
#home:hover::after {
    width: 100%; /* Mantém o efeito ao passar o mouse */
  }

/*--------------------------------------------------------------------------------------------------------------------------*/
body {
    background-color: var(--cor0);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0 auto;
    margin-top: 5%;
    width: 1000px;
    height: 400px;
    overflow: hidden;
    border: 5px solid var(--cor2);
    box-shadow: -15px 15px 1px #9831b8;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 1000px;
    margin-top: -7%;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

.manual-btn {
    border: 2px solid var(--cor2);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 2%;
}

.manual-btn:hover {
   background-color: var(--cor5);
   border: 2px solid var(--cor5); 
}

/*-------------------------------------------------------------------------------------------------------------------------*/
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
.navigation-auto div {
    border: 2px solid var(--cor0);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    margin-left: 5%;
}


.navigation-auto div:not(:last-child) {
    margin-right: 2%;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: var(--cor5);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: var(--cor5);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: var(--cor5);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: var(--cor5);
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: var(--cor5);
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 768px) {
    .slider {
        max-width: 90%; /* Aumenta a largura máxima para 100% em telas menores */
		height: auto;
    }	
	.slides {
        max-width: 1000%;
        height: auto;
    }
}

.img-fundo {
        position: fixed;
        right: -25%;
        bottom: 0; 
        width: 60%; 
        z-index: -1; 
      }
      
.img-fundo img {
        width: 60%;
        height: auto;
        object-fit: cover; 
      }

.entrar button {
    background-color: var(--cor7);
    border-radius: 30%;
    border: none;
    padding: 10%;
    margin-right: 5vw;
}
.entrar a {
    text-decoration: none;
    color: var(--cor2);
    background-color: var(--cor7);
}