/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: 'Lakes_neue';
  src: url(../fonts/tt_lakes_neue/TT\ Lakes\ Neue\ Trial\ Compressed\ Bold.ttf); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prosto_sans';
  src: url(../fonts/tt_prosto_sans/TT\ Prosto\ Sans\ Trial\ Condensed\ Regular.otf);
  font-weight: normal;
  font-style: normal; 
}

  @font-face {
    font-family: 'Avallon';
    src: url(../fonts/avallon/Avallon.ttf); 
    font-weight: normal;
    font-style: normal;
  }
  
  

/* Definição de variáveis de cor e fonte */
:root {

  --cor0: #310352;
  --cor1: #8A2BE2; 
  --cor2: #FFFFFF;
  --cor3: #696969;
  --cor4: #E0E0E0;
  --cor5: #4b0082;
  --cor7: #9831b8;

  --fonte-padrao: 'Prosto_sans', sans-serif;
  --fonte-destaque: 'Avallon', serif;
  --fonte-cabeçalho: 'Lakes_neue'; 
}
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: var(--fonte-padrao);
	background-color: var(--cor0);
}



/*---------------------------------------------*/

/* Estilos básicos para o menu */
nav {	
  display: flex;
  padding: 0px;
  position: fixed;
  top: 0;
}

nav a {
color: var(--cor2);
text-decoration: none;
font-family: var(--fonte-cabeçalho);
font-size: 18px;
letter-spacing: 2px;
margin: 5px 90px 0px 90px;
transition: all 0.3s ease; /* Transição para efeitos hover */
}

nav a:hover {
color: var(--cor1);
text-decoration: none;
}

#entrar {
  justify-content: center; 
  align-items: center;
  margin-top: 0.2%;
}

#entrar::after {
  content: '';
  display: block;
  width: 60%; 
  height: 0.3rem; /* Altura do risquinho */
  background-color: var(--cor7); /* Cor do risquinho */
  margin-top: 1%;
  margin-left: auto; 
  margin-right: auto;
  transition: 2s;
}

#entrar:hover::after {
  width: 100%; /* Mantém o efeito ao passar o mouse */
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	font-family: var(--fonte-cabeçalho);
	color: var(--cor2);
}

p {
	font-family: var(--fonte-padrao);
	font-size: 14px;
	line-height: 1.7;
	color: var(--cor2);
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


label {
  display: block;
  margin: 0;
  color: var(--cor2);
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: var(--fonte-padrao);
  font-size: 16px;
  color: var(--cor2);
  line-height: 1.5;
}

.txt2 {
  font-family: var(--fonte-padrao);
  font-size: 17px;
  color: var(--cor2);
  letter-spacing: 1.2px;
}

.bo1 {border-bottom: 1px solid var(--cor2);}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.wrap-login100 {
    width: 400px; /* Diminua conforme necessário */
    background: transparent;
    border-radius: none;
    position: relative;
    padding: 10px; /* Reduzir o padding para compactar o formulário */
  }
  


/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: var(--fonte-cabeçalho);
  font-size: 39px;
  color: var(--cor2);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5px;
  padding: 0px;
  letter-spacing: 1.4px;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
  font-family: var(--fonte-padrao);
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: calc((100% - 10px) / 2);
  height: 55px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.btn-google::before,
.btn-face::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: linear-gradient(360deg, #fe1bab, #18b2ff);
  opacity: 0;
  transition: all 0.4s;
}

.btn-face {
  color: #fff;
  background-color: #3b5998;
}

.btn-face i {
  font-size: 30px;
  margin-right: 17px;
  padding-bottom: 3px;
}

.btn-google {
  color: #555555;
  background-color: #fff;
}

.btn-google img {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
}

.btn-face:hover:before,
.btn-google:hover:before {
  opacity: 1;
}

.btn-face:hover,
.btn-google:hover {
  color: var(--cor4);
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  height: 50px; /*kelvyn*/
  position: relative;
  background-color: var(--cor2);
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*---------------------------------------------*/
.input100 {
  font-family: var(--fonte-padrao);
  color: var(--cor0);
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: var(--cor2);
  height: 50px;
  padding: 0 20px;
  border-radius: 10px;
}

/*---------------------------------------------------------------*/
.lembrar {
  font-family: var(--fonte-padrao);
  color: var(--cor4);
  font-size: 17px;
}

/* Estiliza a checkbox */
input[type="checkbox"] {
  -webkit-appearance: none; /* Remove o estilo padrão do navegador */
  -moz-appearance: none;
  appearance: none;

  width: 20px; /* Define o tamanho da checkbox */
  height: 20px;
  border: 2px solid var(--cor2); /* Define a cor e a espessura da borda */
  border-radius: 4px; /* Bordas quadradas, mas um pouco arredondadas */
  margin-right: 5px;

  display: inline-block; /* Para alinhar com o texto */
  vertical-align: middle; /* Para alinhar verticalmente com o texto */

  cursor: pointer; /* Adiciona um ponteiro ao passar o mouse */
}

input[type="checkbox"]:checked {
  background-color: var(--cor1); /* Cor de fundo quando está selecionada */
  border-color: var(--cor2); /* Alinha a cor da borda com a cor de fundo */
}

input[type="checkbox"]:checked::before {
  content: '✔'; /* Marca de seleção */
  display: block;
  color: var(--cor2); /* Cor da marca de seleção */
  font-size: 14px; /* Tamanho da marca de seleção */
  text-align: center; /* Centraliza a marca de seleção */
  line-height: 20px; /* Centraliza verticalmente */
}

input[type="checkbox"]:focus {
  outline: none; /* Remove o contorno ao focar */
  box-shadow: 0 0 3px var(--cor2); /* Adiciona uma sombra ao focar */
}



.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  transform: scale(1);
}
::placeholder {
  font-family: var(--fonte-padrao);
  font-size: 18px; /* Ajuste o tamanho conforme necessário */
  color: #31035262;
  letter-spacing: 0.8px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn:hover {
  background: linear-gradient(45deg, var(--cor1), var(--cor1)); /* Gradiente ao passar o mouse */
  color: var(--cor0);
}

.login100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background: linear-gradient(175deg, var(--cor1), var(--cor0)); /* Gradiente na diagonal */
  border-radius: 10px;

  font-family: var(--fonte-padrao);
  font-size: 30px;
  padding: 0 10px;
  color: #fff;
  line-height: 1.2;

  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
