/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: 'Lakes_neue';
  src: url(../fonts/tt_lakes_neue/TT\ Lakes\ Neue\ Trial\ Compressed\ Bold.ttf); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prosto_sans';
  src: url(../fonts/tt_prosto_sans/TT\ Prosto\ Sans\ Trial\ Condensed\ Regular.otf);
  font-weight: normal;
  font-style: normal; 
}

  @font-face {
    font-family: 'Avallon';
    src: url(../fonts/avallon/Avallon.ttf); 
    font-weight: normal;
    font-style: normal;
  } 

/* Definição de variáveis de cor e fonte */
:root {

  --cor0: #310352;
  --cor1: #8A2BE2; 
  --cor2: #FFFFFF;
  --cor3: #696969;
  --cor4: #E0E0E0;
  --cor5: #4b0082;

  --fonte-padrao: 'Prosto_sans', sans-serif;
  --fonte-destaque: 'Avallon', serif;
  --fonte-cabeçalho: 'Lakes_neue'; 
}

/*//////////////////////////////////////////////////////////////////
[ RESET ESTILO ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Estilos básicos para o menu */
nav {
			
  display: flex;
  padding: 0px;
 position: fixed;
  top: 0;
}

nav a {
color: var(--cor2);
text-decoration: none;
font-family: var(--fonte-cabeçalho);
font-size: 20px;
letter-spacing: 2px;
margin: 5px 90px 0px 90px;
transition: all 0.3s ease; /* Transição para efeitos hover */
}

nav a:hover {
color: var(--cor1) /* Cor do texto ao passar o mouse */
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
  font-family: var(--fonte-padrao);
	background-color: var(--cor0);
  color: var(--cor4);
}

.container {
 position: relative;
 margin-top: 4%;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.title {
  letter-spacing: 1px;
  font-family: var(--fonte-cabeçalho);
  font-size: 25px;
  margin: auto;
}

.login-button button {
  padding: 5px 20px;
  background-color: var(--cor0);
  border-radius: 10px;

  border: none;
  z-index: 1;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  transition: all 250ms;
  overflow: hidden;
  
}

.login-button a {
  padding: 5px;
  text-decoration: none;
  color: var(--cor1);
  font-family: var(--fonte-padrao);
  font-size: 15px;
  
}

.login-button button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  border: none;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .login-button button:hover {
  color: #e8e8e8;
  border: none;
 }
 
 .login-button button:hover::before {
  width: 100%;
  border: none;
 }

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.form {
  background-color: var(--cor5);
  padding: 50px 70px;
  width: 55%;
  height: 100%;
  border-radius: 40px;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-header {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.form-header h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--cor1);
  margin: 0 auto;
  position: absolute;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.input-group {
  padding: 0px 50px;
  
}

.input-group input {
  font-family: var(--fonte-padrao);
  letter-spacing: 1px;
  font-weight: lighter;
  color: var(--cor1); 
  padding: 10px;
  border-radius:  10px;
}


.line1  input, .line3 input  {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 15px;
  width: 100%;

}

.line2 {
  padding-top: 15px;
  padding-bottom: 5px;
  width: 100%;
}

#CPF, #RG {
  margin-left: 1%;
  font-size: 15px;
  padding-right: 3.1rem;
  margin-bottom: 1%;
}

#nascimento, #CEP {
  font-size: 15px;
  padding-right: 4rem;
}


.line4 {
  padding-top: 15px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 15px;
}


#endereco {
  padding-right: 40%;
  margin-left: 1%;
  font-size: 15px;
  margin-bottom: 1%;
}

.line5 input {
  padding-top: 15px;
  padding-bottom: 5px;
  width: 49%;
  font-size: 15px;
  padding-right: 5rem;
  margin-bottom: 1%;
}
.line6 input {
  padding-top: 15px;
  padding-bottom: 5px;
  width: 49%;
  font-size: 15px;
  padding-right: 5rem;
  margin-bottom: 1%;
  margin-top: 1%;
  
}

.line7 input {
  padding-top: 15px;
  padding-bottom: 5px;
  width: 49%;
  font-size: 15px;
  padding-right: 5rem;
  margin-bottom: 1%;
  margin-top: 1%;
  
}

/*mudando a cor do texto na placeholder*/
::-webkit-input-placeholder {
  color: var(--cor5);
  opacity: 0.4;
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--cor5);
  opacity: 0.4;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--cor5);
  opacity: 0.4;
}

:-ms-input-placeholder {  
  color: var(--cor5);
  opacity: 0.4; 
}

/*configurando o tipo do cadastro*/
.tipo {
  margin-top: 5% ;
  margin-left: 1%;
  width: 100%;
  display: flex;
  font-size: 18px;
}

.option {
  margin-top: -30px;
  margin-left: 12%;
}

.option input {
  margin-right: 2%;
}

#tp-tatu {
  margin-top: 2%;
}

#tp-tatu input {
  margin-right: 2%;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.continue-button button {
  padding: 5px 20px;
  background-color: var(--cor0);
  border-radius: 10px;
  margin-left: 80%;
  box-shadow: -3px 2px 1px #9831b8 ;
  border: none;
  z-index: 1;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  transition: all 250ms;
  overflow: hidden;

  
}
.continue-button a {
  padding: 5px;
  text-decoration: none;
  color: var(--cor4);
  font-family: var(--fonte-padrao);
  font-size: 18px;
  letter-spacing: 1px;
}

.continue-button button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  border: none;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .continue-button button:hover {
  color: #e8e8e8;
 }
 
 .continue-button button:hover::before {
  width: 100%;
 }
 /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 .form-image {
  margin-left: 70%;
  width: 100%;
  height: 100%;

  overflow: hidden; /* Faz o div não aumentar a altura por causa da imagem */
 }

 .form-image img {
  margin-top: -3%;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  position: absolute;
}